<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="acceuil">
            <ion-icon name="keypad-outline"></ion-icon>
            <ion-label>acceuil</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="liste-participants">
            <ion-icon name="list"></ion-icon>
            <ion-label>participants</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="liste-sessions">
            <ion-icon name="calendar-number-outline"></ion-icon>
            <ion-label>agenda</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
